DATABASE_URL=""
JWT_SECRET=""

PAYMONGO_MODE="test"
PAYMONGO_SECRET_KEY=""
PAYMONGO_SECRET_KEY_ORIGINAL=""
PAYMONGO_WEBHOOK_SECRET=""
PAYMONGO_API_URL="https://api.paymongo.com"

WEB_URL=http://localhost:3000
